.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .weapon-line {
    position: absolute;
    width: 5%;
    border-bottom: 0.15rem solid red;
    border-radius: 30%;
    z-index: 1;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    color: green;
    position: absolute;
  }

  .blocked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    color: red;
    position: absolute;
  }

  .guests {
    font-size: 70%;
    color: green;
    position: absolute;
  }

  .maybe {
    font-size: 70%;
    color: orange;
    position: absolute;
  }

  .notSeen {
    font-size: 70%;
    color: red;
    position: absolute;
  }

  .notes {
    position: absolute;
  }

  .garage.guests {
    top: 17.5%;
    left: 14%;
  }

  .garage.maybe {
    top: 20%;
    left: 14%;
  }

  .garage.notSeen {
    top: 22.5%;
    left: 14%;
  }

  .garage.notes {
    top: 22%;
    left: 22%;
  }

  .garage-to-trophyRoom.blocked {
    top: 44%;
    left: 23%;
  }

  .garage-to-bedroom.blocked {
    top: 44%;
    left: 38%;
  }

  .garage-to-studyCrimeScene.blocked {
    left: 44%;
    top: 16%;
  }

  .wrench {
    top: 32%;
    left: 12%;
  }

  .antifreeze {
    width: 2.5rem;
    top: 35%;
    left: 12%;
  }

  .leatherStrap {
    top: 37%;
    left: 12%;
    width: 3.5rem;
  }

  .trophyRoom.guests {
    top: 42%;
    left: 26%;
  }

  .trophyRoom.maybe {
    top: 44.5%;
    left: 26%;
  }

  .trophyRoom.notSeen {
    top: 47%;
    left: 26%;
  }

  .trophyRoom.notes {
    top: 45%;
    left: 6%;
  }

  .trophyRoom-to-garage {
    top: 33%;
    left: 23%;
  }

  .trophyRoom-to-vestibule.blocked {
    top: 73%;
    left: 37.5%;
  }

  .trophyRoom-to-billiardRoom.blocked {
    top: 66%;
    left: 23%;
  }

  .shotgun {
    top: 54%;
    left: 12%;
  }

  .machete {
    top: 57%;
    left: 12%;
  }

  .derringerGun {
    top: 60%;
    left: 12%;
    width: 3.5rem;
  }

  .billiardRoom.guests {
    top: 72%;
    left: 20%;
  }

  .billiardRoom.notes {
    top: 70%;
    left: 12%;
  }

  .billiardRoom.count {
    top: 77.5%;
    left: 25.75%;
  }

  .billiardRoom-to-trophyRoom.blocked {
    top: 55%;
    left: 23%;
  }

  .billiardRoom-to-vestibule.blocked {
    top: 75%;
    left: 40%;
  }

  .cue {
    top: 79.5%;
    left: 12%;
  }

  .bedroom.guests {
    top: 52%;
    left: 46%;
  }

  .bedroom.maybe {
    top: 54.5%;
    left: 46%;
  }

  .bedroom.notSeen {
    top: 57%;
    left: 46%;
  }

  .bedroom.notes {
    top: 49%;
    left: 35.5%;
  }

  .bedroom-to-garage.blocked {
    top: 34%;
    left: 32%;
  }

  .bedroom-to-kitchen.blocked {
    top: 38%;
    left: 54%;
  }

  .bedroom-to-studyCrimeScene.blocked {
    top: 25%;
    left: 49.5%;
  }

  .pillow {
    top: 57.5%;
    left: 39%;
  }

  .revolver {
    top: 60%;
    left: 39%;
  }

  .letterOpener {
    top: 63%;
    left: 39%;
    width: 3.5rem;
  }

  .poisonousPlant {
    top: 65%;
    left: 39%;
    width: 4rem;
  }

  .vestibule.guests {
    top: 74%;
    left: 43%;
  }

  .vestibule.notes {
    top: 67%;
    left: 38%;
  }

  .vestibule.count {
    top: 77.5%;
    left: 52.25%;
  }

  .vestibule-to-billiardRoom.blocked {
    top: 76.5%;
    left: 28.25%;
  }

  .vestibule-to-trophyRoom.blocked {
    top: 49%;
    left: 28%;
  }

  .vestibule-to-livingRoom.blocked {
    top: 59%;
    left: 56%;
  }

  .saber {
    top: 79%;
    left: 42%;
  }

  .studyCrimeScene.guests {
    top: 19%;
    left: 60%;
  }

  .studyCrimeScene.maybe {
    top: 21.5%;
    left: 60%;
  }

  .studyCrimeScene.notSeen {
    top: 24%;
    left: 60%;
  }

  .studyCrimeScene.notes {
    top: 17%;
    left: 50%;
  }

  .kitchen.guests {
    top: 40%;
    left: 63%;
  }

  .kitchen.maybe {
    top: 42.5%;
    left: 63%;
  }

  .kitchen.notSeen {
    top: 45%;
    left: 63%;
  }

  .kitchen.notes {
    top: 37%;
    left: 69%;
  }

  .kitchen-to-bedroom.blocked {
    top: 46%;
    left: 47%;
  }

  .kitchen-to-shed.blocked {
    top: 33%;
    left: 88%;
  }

  .kitchen-to-livingRoom.blocked {
    top: 53%;
    left: 71%;
  }

  .fryingPan {
    top: 42.5%;
    left: 56%;
  }

  .kitchenKnife {
    top: 45%;
    left: 56%;
    width: 3rem;
  }

  .ratPoison {
    top: 48%;
    left: 56%;
    width: 2.5rem;
  }

  .livingRoom.guests {
    top: 70%;
    left: 64%;
  }

  .livingRoom.notes {
    top: 61%;
    left: 64%;
  }

  .livingRoom.count {
    top: 77.5%;
    left: 73.5%;
  }

  .livingRoom-to-vestibule.blocked {
    top: 71%;
    left: 51.5%;
  }

  .livingRoom-to-library.blocked {
    top: 60%;
    left: 82.5%;
  }

  .livingRoom-to-kitchen.blocked {
    top: 45%;
    left: 71%;
  }

  .blunderbuss {
    top: 79%;
    left: 60%;
    width: 3rem;
  }

  .shed.guests {
    top: 20%;
    left: 85%;
  }

  .shed.maybe {
    top: 22.5%;
    left: 85%;
  }

  .shed.notSeen {
    top: 25%;
    left: 85%;
  }

  .shed.notes {
    top: 27.5%;
    left: 90.5%;
  }

  .shed-to-studyCrimeScene.blocked {
    top: 23%;
    left: 65%;
  }

  .shed-to-kitchen.blocked {
    top: 40%;
    left: 75%;
  }

  .shed-to-library.blocked {
    top: 55%;
    left: 89%;
  }

  .shovel {
    top: 22%;
    left: 91%;
  }

  .pesticide {
    top: 25%;
    left: 91%;
    width: 2.5rem;
  }

  .rope {
    top: 27.5%;
    left: 91%;
  }

  .library.guests {
    top: 70%;
    left: 80%;
  }

  .library.notes {
    top: 65%;
    left: 89%;
  }

  .library.count {
    top: 77.5%;
    left: 93.25%;
  }

  .library-to-livingRoom.blocked {
    top: 57%;
    left: 72%;
  }

  .library-to-shed.blocked {
    top: 29%;
    left: 89.5%;
  }

  .curtainCord {
    top: 79%;
    left: 80%;
    width: 3.5rem;
  }
}
